# Node.js
node_modules/

# .env files for environment variables
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build directories (for example, if you're using Webpack)
build/

# NPM
npm-debug.log
